@model PhoneBook.Models.ViewModel

@{
    ViewData["Title"] = "Добавить контакт";
}
<a asp-action="Index">Назад</a>
<h2>Добавить контакт</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Person.Name" class="control-label"></label>
                <input asp-for="Person.Name" class="form-control" />
                <span asp-validation-for="Person.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.SName" class="control-label"></label>
                <input asp-for="Person.SName" class="form-control" />
                <span asp-validation-for="Person.SName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.BDate" class="control-label"></label>
                <input asp-for="Person.BDate" class="form-control" />
                <span asp-validation-for="Person.BDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber.Number" class="control-label"></label>
                <input asp-for="PhoneNumber.Number" class="form-control" />
                <span asp-validation-for="PhoneNumber.Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
